{% extends 'theme.html' %}
{%block content%}
<div class="container">
  <div class="row">
{% for Product in products %}
    <div class="col-md-3">
<div class="card" >
  <img src="{{Product.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Product.name}}</h5>
    <p class="card-text">{{Product.price}}</p>
      <p class="card-text">stock:{{Product.stock}}</p>
    <a href="#" class="btn btn-primary">CLICK</a>
  </div>
</div>
     </div>
{%endfor%}
</div>
</div>
{%endblock%}